<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kapout !{% endblock %}</title>

        <link rel="icon" href="{{asset('images/logo.svg')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="{{asset("css/style.css")}}">
        {% block stylesheets %}
        {% endblock %}

        <script src="{{asset('js/app.js')}}" defer></script>
        {% block javascripts %}
        {% endblock %}
    </head>

    <body>

            {# Header #}
        {# -------------------------------------------------------------------------------- #}
        {% include "components/header.html.twig" %}

        <main>
            {% block body %}{% endblock %}
        </main>

            {# Footer #}
        {# -------------------------------------------------------------------------------- #}
        {% include "components/footer.html.twig" %}

    </body>

</html>
