<footer>

    <h3>Des questions ?</h3>
    
    <div class="footer-link-container">
        <a href="{{ path('main_contact') }}">Contact</a>
        <a href="{{ path('main_about') }}">A propos</a>
        <a href="{{ path('main_about') }}">Mentions légales</a>
    </div>

</footer>
